.vscode/sftp.json
.problems/*
.pytest_cache/
.mypy_cache/
__pycache__/
.venv/
venv/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
.coverage
coverage.xml
htmlcov/
build/
dist/
.eggs/
*.egg-info
node_modules/
.DS_Store